~*.sldasm

# Ignore Python virtual environment
venv/
.env/
.venv/
uv.lock

# ignore RTD build results
docs/build/
output/

#Ignore video files
*.mp4
*.jpg
*.jpeg
*.png

__pycache__/
*.pyc
*.log
*.egg
*.egg-info/
