adduser
alacarte
alsa-utils
apt
apt-listchanges
apt-utils
avahi-daemon
base-files
base-passwd
bash
bash-completion
bsdutils
build-essential
ca-certificates
chromium
cifs-utils
cmake
code
console-setup
coreutils
cpio
cron
cron-daemon-common
cups
curl
dash
debconf
debconf-i18n
debconf-utils
debian-archive-keyring
debian-reference-en
debianutils
desktop-base
diffutils
dillo
dmidecode
dmsetup
dosfstools
dphys-swapfile
dpkg
e2fsprogs
ed
eom
ethtool
evince
fake-hwclock
fbset
fdisk
ffmpeg
file
findutils
firefox
firmware-atheros
firmware-brcm80211
firmware-libertas
firmware-misc-nonfree
firmware-realtek
fonts-droid-fallback
fonts-liberation2
gcc-12-base
gdb
geany
gfortran
git
gnome-icon-theme
gnome-keyring
gnome-themes-extra-data
gpgv
gpiod
grep
gstreamer1.0-alsa
gstreamer1.0-libav
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-tools
gstreamer1.0-x
gtk2-engines
gvfs
gvfs-backends
gvfs-fuse
gzip
hostname
htop
hunspell-en-gb
hyphen-en-gb
i2c-tools
init
initramfs-tools
init-system-helpers
iproute2
iputils-ping
isc-dhcp-client
isc-dhcp-common
keyboard-configuration
kmod
kms++-utils
labwc
less
libacl1
libapparmor1
libapt-pkg6.0
libargon2-1
libatlas-base-dev
libattr1
libaudit1
libaudit-common
libavcodec-dev
libavformat-dev
libblkid1
libbpf1
libbsd0
libbz2-1.0
libc6
libcamera-apps
libcamera-dev
libcap2
libcap2-bin
libcap-dev
libcap-ng0
libc-bin
libcom-err2
libcrypt1
libcryptsetup12
libdb5.3
libdebconfclient0
libdevmapper1.02.1
libedit2
libelf1
libext2fs2
libfdisk1
libffi8
libgcc-s1
libgcrypt20
libgl1-mesa-dri
libgles1
libgles2-mesa
libgmp10
libgnutls30
libgpg-error0
libgpiod2
libgssapi-krb5-2
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev
libgtk-3-dev
libhogweed6
libidn2-0
libip4tc2
libjansson4
libjpeg-dev
libjson-c5
libk5crypto3
libkeyutils1
libkmod2
libkrb5-3
libkrb5support0
liblocale-gettext-perl
liblz4-1
liblzma5
libmd0
libmnl0
libmount1
libmtp-runtime
libncursesw6
libnettle8
libnewt0.52
libnftables1
libnftnl11
libp11-kit0
libpam0g
libpam-chksshpwd
libpam-modules
libpam-modules-bin
libpam-runtime
libpcre2-8-0
libpng-dev
libpopt0
libportaudio2
libproc2-0
libreadline8
libseccomp2
libselinux1
libsemanage2
libsemanage-common
libsepol2
libslang2
libsmartcols1
libss2
libssl3
libstdc++6
libswscale-dev
libsystemd0
libsystemd-shared
libtasn1-6
libtext-charwidth-perl
libtext-iconv-perl
libtext-wrapi18n-perl
libtiff-dev
libtinfo6
libtirpc3
libtirpc-common
libudev1
libunistring2
libuuid1
libv4l-dev
libwidevinecdm0
libxtables12
libxxhash0
libzstd1
lightdm
linux-headers-rpi-2712
linux-headers-rpi-v8
linux-image-rpi-2712
linux-image-rpi-v8
locales
login
logrotate
logsave
lua5.1
luajit
lxde
lxtask
man-db
manpages-dev
mawk
menu-xdg
mesa-vulkan-drivers
meson
mkvtoolnix
mount
mousepad
mplayer
mpv
nano
ncdu
ncurses-base
ncurses-bin
netbase
net-tools
network-manager
nfs-common
nftables
ntfs-3g
obconf
openocd
openssl
p7zip-full
parted
passwd
pciutils
perl-base
piclone
pigpio
pi-package
pkg-config
policykit-1
portaudio19-dev
pprompt
procps
psmisc
python3-flask
python3-gpiozero
python3-libgpiod
python3-numpy
python3-pgzero
python3-pigpio
python3-pip
python3-pyaudio
python3-pygame
python3-serial
python3-smbus2
python3-spidev
python3-tk
python3-twython
python3-venv
python-is-python3
raindrop
raspberrypi-archive-keyring
raspberrypi-net-mods
raspberrypi-sys-mods
raspberrypi-ui-mods
raspi-firmware
raspi-gpio
readline-common
realvnc-vnc-server
rfkill
rpi-chromium-mods
rpi-connect
rpi-firefox-mods
rpi-imager
rpi-update
rsync
sed
sense-hat
sensible-utils
ssh
ssh-import-id
strace
sudo
systemd
systemd-sysv
systemd-timesyncd
sysvinit-utils
tar
tasksel
tasksel-data
thonny
tree
tzdata
udev
udisks2
unzip
usb-modeswitch
usbutils
usr-is-merged
util-linux
util-linux-extra
v4l-utils
vim-common
vim-tiny
vlc
vulkan-tools
wamerican
wbritish
whiptail
wireless-tools
wlr-randr
wmctrl
wpasupplicant
x11-utils
xcompmgr
xdg-utils
xinit
xserver-xorg
zenity
zip
zlib1g
